:root.theme-dark {
  --bg-image: url(/images/cover-image-dark.png);
  --title-color: #DB00FF;
  --title-decor: #000028;
  --paragraph-color: #F1B2CE;
  --accent-color: #FF0070;
  --secondary-accent-color: #FF0070;


.header__rec {
   display: block;
 }

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}
}