:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-decor: #353430;
  --outline-color: rgba(50, 49, 45, 0.4);
  --paragraph-color: #353430;
  --accent-color: #FF8DCB;
  --secondary-accent-color: #353430;

 .header__rec {
   opacity: 0;
 }

}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-decor: #353430;
  --outline-color: rgba(50, 49, 45, 0.4);
  --paragraph-color: #353430;
  --accent-color: #FF8DCB;
  --secondary-accent-color: #353430;
  }

 .header__rec {
   opacity: 0;
 }

}
