.page {
  color: var(--paragraph-color, #F1B2CE);
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size-text, 18px);
  background-color: var(--title-decor, #000028);
  background-image: var(--bg-image, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-inline-size: 1024px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 26px min-content min-content min-content;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__rec {
  position: relative;
  grid-row: 1 / 2;
  justify-self: end;
  margin-inline-end: 28px;
  color: var(--accent-color, #FF0070);
  line-height: 1.39em;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  background-color:  var(--accent-color, #FF0070);
  transform: translateY(-50%);
}

.header__theme-menu {
  grid-row: 2 / 3;
  justify-self: end;
  margin-block-start: 6lvh;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--secondary-accent-color, #FF0070);
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid  var(--secondary-accent-color, #FF0070);
  padding: 1.5px 13px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.header__title {
  grid-row: 3 / 4;
  margin-block-start: 11lvh;
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}

.header__text {
  grid-row: 4 / 5;
  align-self: flex-end;
  margin-block-start: 8lvh;
  color: var(--title-decor, #000028);
  font-weight: bold;
  line-height: 1.3em;
  background-color: var(--accent-color, #FF0070);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--secondary-accent-color, #FF0070);
  border-right: 1px solid var(--secondary-accent-color, #FF0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--secondary-accent-color, #FF0070);
  border-left: 1px solid var(--secondary-accent-color, #FF0070);
}

.sections {
  line-height: 1.3em;
}

.why {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 40px;
  margin-block-end: 50px;
  padding: 0 10px;
  
}

.section__title {
  margin-block-end: 20px;
  color: var(--secondary-accent-color, #FF0070);
  font-weight: bold;
  font-size: inherit;
}

.card-list .card:not(:last-of-type) {
  margin-block-end: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__text {
  color: var(--title-decor, #000028);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--accent-color, #FF0070);
}

.section__heading {
  color: var(--title-decor, #000028);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--accent-color, #FF0070);
}

.section__text {
  font-weight: normal;
  font-size: inherit;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
}

.section__link:hover {
  text-decoration: underline;
  text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
}

.what {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 50px;
  padding: 0 10px;
}

.how {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 50px;
  padding: 0 10px;
}

.how__section-heading {
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin-block-end: 40px;
  padding: 0 10px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (768px <= width < 1024px) {
  
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    margin-block-start: 14vh;
  }
  
  .header__title {
    margin-block-start: 18vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    justify-self: end;
    margin-top: 16vh;
    inline-size: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .why {
    grid-template-columns: fit-content(236px) 1fr;
    gap: 20px;
    margin-block-start: 60px;
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .what {
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .what .section__title {
    max-inline-size: 236px;
  }

  .how {
    grid-template-columns: fit-content(236px) 1fr;
    gap: 20px;
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
    margin-block-end: 60px;
    padding: 0 20px;
  }

  .gallery__title {
    grid-column: 1 / 4;
  }

  .sunset__image {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    object-fit: cover;
  }

  .ice-cream__image {
    grid-column: 3 / 4;
    grid-row: -4 / -2;
    object-fit: cover;
  }

  .tape__image {
    grid-column: 1;
    grid-row: 3 / 5;
    object-fit: cover;
  }

  .books__image {
    object-fit: cover;
  }

  .street__image {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    object-fit: cover;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .header {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--secondary-accent-color, #FF0070);
  }

  .header__rec {
    grid-column: 3 / 4;
    justify-self: end;
  }

  .header__title {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-block-start: 36vh;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    justify-self: end;
    margin-block-start: 15vh;
    inline-size: 50%;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .section__link:focus {
   all: unset;
  }

  .section__link:focus-visible {
   outline: 1px solid var(--paragraph-color, #F1B2CE);
   text-shadow: 2px 1px 0 var(--accent-color, #FF0070);
  }

  .why {
    grid-template-columns: fit-content(315px) 1fr;
    gap: 20px;
    margin-block-start: 60px;
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .what {
    grid-template-rows: min-content 1fr;
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .what .section__title {
    grid-row: 1 / 2;
    max-inline-size: 315px;
  }

  .what .card-list {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .how {
    grid-template-columns: fit-content(315px) 1fr;
    gap: 20px;
    margin-block-end: 80px;
    padding: 0 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
    margin-block-end: 60px;
    padding: 0 20px;
  }

  .gallery__title {
    grid-column: 1 / 4;
  }

  .sunset__image {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    object-fit: cover;
  }

  .ice-cream__image {
    grid-column: 3 / 4;
    grid-row: -4 / -2;
    object-fit: cover;
  }

  .tape__image {
    grid-column: 1;
    grid-row: 3 / 5;
    object-fit: cover;
  }

  .books__image {
    object-fit: cover;
  }

  .street__image {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    object-fit: cover;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
   
}

